{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <br>
    Logged in as "{{ user.userIdentifier }}"
    <br>
    Available roles:
    <ul>
        {% for role in user.roles %}
            <li>{{ role }}</li>
        {% endfor %}
    </ul>
    {% if not is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_account_delete') }}">Delete Account</a>
    {% endif %}

    <h2>Posts created by you</h2>
    {% for post in posts %}
        <div class="post">
            <h3><a href="{{ path('app_board_post_show', {id: post.id}) }}">{{ post.title }}</a></h3>
            <p>{% if post.content|length > 64 %}{{ post.content[0:64] }}...{% else %}{{ post.content }}{% endif %}</p>
            {% if is_granted('ROLE_ADMIN') %}
                State: {{ post.state }}
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
