{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <label for="username">Username:</label>
    {{ form_widget(registrationForm.username) }}
    <br>
    <label for="password">Password:</label>
    {{ form_widget(registrationForm.plainPassword) }}
    <br><br>
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <br>
    <a href="{{ path('app_login') }}">already registered?</a>
{% endblock %}
