body {
    color: white;
    background: black;
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    /*font: 16px/1.5 sans-serif;*/
    font: 16px/1.5 "DejaVu Sans Mono", monospace;
}

body code {
    background: #F5F5F5;
    padding: 2px 6px;
}

h3 {
    margin: 10px 0;
}

#header {
    justify-content: space-between;
    display: flex;
}

.post {
    border: white 1px solid;
    border-radius: 16px;
    padding: 16px;
    margin: 16px 0;
    background-color: #080808;
}

.post_view p {
    white-space: pre-wrap;
}

a {
    color: #5d8bfc;
    text-decoration: none;
}

a:visited {
    color: #a0bdff;
}

input, textarea {
    font: 16px "DejaVu Sans Mono", monospace;
    color: white;
    background-color: black;
    border: #aaaaaa 2px solid;
    border-radius: 8px;
}

.post_title {
    height: 24px;
    width: 99%;
    max-width: 99%;
}

.post_content {
    height: 128px;
    width: 99%;
    max-width: 99%;
}

button {
    font-size: 24px;
    color: white;
    background-color: black;
    border: #eeeeee 2px solid;
    border-radius: 8px;
}