{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    {% for user in users %}
        <div class="post">
            <h3><a href="{{ path('app_admin_user', {id: user.id}) }}">{{ user.username }}</a></h3>
            <ul>
            {% for role in user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
