{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="post">
        <h3><a href="{{ path('app_user', {'id': user.id }) }}">{{ user.username }}</a></h3>
        <ul>
        {% for role in user.roles %}
            <li>{{ role }}</li>
        {% endfor %}
        </ul>

        {% if is_granted('ROLE_SUPER_ADMIN') and app.user.id != user.id  %}
            {% if 'ROLE_ADMIN' in user.roles%}
            <a href="{{ path('app_admin_user_demote', {'id': user.id }) }}">Demote</a>
            {% else %}
            <a href="{{ path('app_admin_user_promote', {'id': user.id }) }}">Promote</a>
            {% endif %}
            <a href="{{ path('app_admin_user_delete', {'id': user.id }) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}
