{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}

            <br><br>
            <button type="submit">Login</button>
        </form>
        <br>
        <a href="{{ path('app_register') }}">not registered?</a>
    {% else %}
        Logged in as "{{ user.userIdentifier }}"
        <br>
        Available roles:
        <ul>
            {% for role in user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
