<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="/css/main.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {#{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        #}
    </head>
    <body>
        <div id="header">
            <a href="{{ path('app_board') }}">Board</a>
            <a id="new_post" href="{{ path('app_board_create_post') }}">Create new post</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_account') }}">Account</a>
                <a href="{{ path('app_login_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}">Login</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin') }}">Admin panel</a>
            {% endif %}
        </div>
        <div class="main-wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
