{% extends 'base.html.twig' %}

{% block title %}User!{% endblock %}

{% block body %}

    <h2>Posts created by {{ user.username }}</h2>
    {% for post in posts %}
        <div class="post">
            <h3><a href="{{ path('app_board_post_show', {id: post.id}) }}">{{ post.title }}</a></h3>
            <p>{% if post.content|length > 64 %}{{ post.content[0:64] }}...{% else %}{{ post.content }}{% endif %}</p>
            {% if is_granted('ROLE_ADMIN') %}
                State: {{ post.state }}
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}


