{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

    <h1>New Post</h1>

    <div class="post">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        Title:
        <br>
        {{ form_widget(form.title, {'attr': {'class': 'post_title'}}) }}
        <br><br>
        Message:
        <br>
        {{ form_widget(form.content, {'attr': {'class': 'post_content'}}) }}
        {{ form_errors(form.content) }}
        <br><br>
        {{ form_widget(form.post, {'attr': {'class': 'post_post'}}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
