{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
{{ message|default }}
<div class="post post_view">
    {% if is_granted('ROLE_ADMIN') %}
        State: {{ post.state }}<br>
        {% if post.state == 'ok' %}
            <a href="{{ path('app_board_delete_post', {id: post.id}) }}">Delete</a>
        {% elseif post.state == 'unapproved' %}
            <a href="{{ path('app_board_approve_post', {id: post.id}) }}">Approve</a>
            <br><a href="{{ path('app_board_delete_post', {id: post.id}) }}">Delete</a>
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% if post.state == 'deleted' %}
            <a href="{{ path('app_board_approve_post', {id: post.id}) }}">Restore</a>
            <br><a href="{{ path('app_board_delete_from_db_post', {id: post.id}) }}">Delete from database</a>
        {% endif %}
    {% endif %}
    <h4>by
        {% if user is null %}
            deleted user
        {% else %}
            <a href="{{ path('app_user', {'id': user.id }) }}">{{ user.username }}</a>
        {% endif %}
    </h4>

    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
</div>
{% endblock %}
